<div id="header">
<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="https://github.com/sta14031/automuser">View source code</a>
    <a href="https://powerful-falls-18851.herokuapp.com/">My home page</a>
</nav>
</div>