<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <title>About Me</title>
</head>

<body>

<div id="title">
<img src="https://1.bp.blogspot.com/-aHOisZDgTsY/U9j7hdY41qI/AAAAAAACTkQ/nzG3yQgc0R8/s1600/3w382233.png" width="60px" height="60px"/>
About Me!
<img src="https://1.bp.blogspot.com/-aHOisZDgTsY/U9j7hdY41qI/AAAAAAACTkQ/nzG3yQgc0R8/s1600/3w382233.png" width="60px" height="60px"/>
</div>

<%- include('../partials/header.ejs') %>

<div>
    <p>My name is Tyler Starr &ndash; welcome to my project!

    </p>
    <p>AutoMuser is my senior project for my
        bachelor&apos;s degree at BYU-Idaho.
    </p>
</div>

</body>
</html>
