<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <title>AutoMuser</title>
</head>

<body>

<div id="title">
<img src="https://1.bp.blogspot.com/-aHOisZDgTsY/U9j7hdY41qI/AAAAAAACTkQ/nzG3yQgc0R8/s1600/3w382233.png" width="60px" height="60px"/>
Welcome to AutoMuser!
<img src="https://1.bp.blogspot.com/-aHOisZDgTsY/U9j7hdY41qI/AAAAAAACTkQ/nzG3yQgc0R8/s1600/3w382233.png" width="60px" height="60px"/>
</div>

<div id="app">
    <p>The app will go here... eventually...</p>
</div>

</body>
</html>
