<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <title>Song: <%- seed %></title>
</head>

<body>
<%- include('../partials/header.ejs') %>
<div id="app">
    <p>Your song inspired by &apos;<%- seed %>&apos;:</p>
    <audio controls autoplay>
        <source src="/tmp/generated_song_<%- seed %>.wav" type="audio/wav" />
        WARNING: Your browser does not support embedded audio!
    </audio> <br />
</div>

</body>
</html>
