<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <title>Song: <%- seed %></title>
</head>

<body>
<%- include('../partials/header.ejs') %>
<div>
    Your generated song from seed <%- seed %> goes here!
</div>

</body>
</html>
